# Dependências de desenvolvimento e teste
pytest>=7.4.0
pytest-cov>=4.1.0
pytest-mock>=3.11.1
coverage>=7.3.0
flake8>=6.1.0
flake8-html>=0.4.2
black>=23.9.1
mypy>=1.5.1
types-requests>=2.31.0
types-beautifulsoup4>=4.12.0